<?xml version="1.0"?>
<!--
    EE3305/ME3243
    Name : Lee Ling Zhen
    Matric Number: A0199407R
-->

<launch>
<!-- Launch the world in Gazebo. -->
	<node pkg="a407r_pid" type="a407r_pid" name="pid_control_node" output="screen"/>
    <arg name="student_pkg_path" value="$(find a407r_pid)"/>
    <arg name="world_name" default="$(arg student_pkg_path)/worlds/singlepillar.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>
    <!-- Spawn Husky in Gazebo. -->
    <include file="$(arg student_pkg_path)/launch/spawn_husky.launch">
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0"/>
        <arg name="yaw" default="0"/>
        <arg name="ee3305_urdf" value="$(arg student_pkg_path)/urdf/husky.urdf.xacro"/>
        <arg name="ee3305_mass" value="470"/>
    </include>
	<rosparam command ="load" file= "$(arg student_pkg_path)/config/config.yaml"/>
</launch>
